estatistica_descre/Projeto final
estatistica_descre/links Aulas.txt
estatistica_descre/Estatística Descritiva/Correlação de Pearson.xlsx
estatistica_descre/Estatística Descritiva/Exemplo JP MORGAN VÍDEO.pdf
estatistica_descre/Estatística Descritiva/Introdução a Gráficos Estatísticos - Prof. Thiago Marques.pdf

ciencia_de_dados_python/*.pdf

Tecnicas_amostragem_regressaoLinear/*.pdf

Estatistics_Infer/*.pdf
Estatistics_Infer/Trabalhos/*.pdf

estatistica_descre/Renan_Lemes_leepkaln/Projeto_final/MICRODADOS_ENADE_2017.txt
estatistica_descre/Renan_Lemes_leepkaln.rar

CULTURA-E-PR-TICAS-DATAOPS-E-MLOPS---Oferta-2-2024-Jan-29_20-20-03-090/viewer/files/Slides das Aulas/
CULTURA-E-PR-TICAS-DATAOPS-E-MLOPS---Oferta-2-2024-Jan-29_20-20-03-090/viewer/files/Layout/
CULTURA-E-PR-TICAS-DATAOPS-E-MLOPS---Oferta-2-2024-Jan-29_20-20-03-090/viewer/files/unfiled/
CULTURA-E-PR-TICAS-DATAOPS-E-MLOPS---Oferta-2-2024-Jan-29_20-20-03-090/viewer/files/Mídia carregada/
CULTURA-E-PR-TICAS-DATAOPS-E-MLOPS---Oferta-2-2024-Jan-29_20-20-03-090/viewer/files/arquivos_pratica/DataDrift.ipynb

-IEC_EPCD_O2_T1_Online-S-ries-Temporais-2024-Feb-15_22-27-01-666/viewer/files/*pdf

-IEC_EPCD_O2_T1_Online-Modelos-de-Regress-o-2024-Feb-22_00-40-14-002/viewer/files/*pdf
-IEC_EPCD_O2_T1_Online-Modelos-de-Regress-o-2024-Feb-22_00-40-14-002/viewer/files/Trabalhos/TrabalhoFinal/insurance.csv

-IEC_EPCD_O2_T1_Online-Machine-Learning-2024-Apr-29_20-50-16-371/viewer/files/*pdf
-IEC_EPCD_O2_T1_Online-Machine-Learning-2024-Apr-29_20-50-16-371/viewer/files/Trabalhos/*csv
-IEC_EPCD_O2_T1_Online-Machine-Learning-2024-Apr-29_20-50-16-371/viewer/files/*csv
-IEC_EPCD_O2_T1_Online-Machine-Learning-2024-Apr-29_20-50-16-371/viewer/files/*pptx
-IEC_EPCD_O2_T1_Online-Machine-Learning-2024-Apr-29_20-50-16-371/viewer/files/Trabalhos/TrabalhoFinal/*csv

-IEC_EPCD_O2_T1_Online-An-lise-Multivariada-2024-May-09_05-37-45-585/viewer/files/TrabalhoFinal/*csv
-IEC_EPCD_O2_T1_Online-An-lise-Multivariada-2024-May-09_05-37-45-585/viewer/files/unfiled/*csv
-IEC_EPCD_O2_T1_Online-An-lise-Multivariada-2024-May-09_05-37-45-585/viewer/files/*pdf
-IEC_EPCD_O2_T1_Online-An-lise-Multivariada-2024-May-09_05-37-45-585/viewer/files/*pptx

-IEC_EPCD_O2_T1_Online-Redes-Neurais-e-Deep-Learning-2024-Jun-20_13-41-43-448/viewer/files/*pdf
-IEC_EPCD_O2_T1_Online-Redes-Neurais-e-Deep-Learning-2024-Jun-20_13-41-43-448/viewer/files/Slides/*
-IEC_EPCD_O2_T1_Online-Redes-Neurais-e-Deep-Learning-2024-Jun-20_13-41-43-448/viewer/files/Questionarios

## ignorar as pastas da Analise e Sobrevivência
Analise_e_Sobre/Aulas
Analise_e_Sobre/data



GOVERNAN-A-DE-DADOS---Oferta-2-2024-Aug-04_00-50-56-441/
-IEC_EPCD_O2_T1_Online-Frameworks-para-Deep-Learning-2024-Oct-01_01-37-18-444/viewer/files/*pdf
DATA-DISCOVERY-E-ANALYTICS---Oferta-2-2024-Oct-01_01-32-49-113/viewer/files/*pdf
DATA-DISCOVERY-E-ANALYTICS---Oferta-2-2024-Oct-01_01-32-49-113/viewer/files/imagens/*pdf
DATA-DISCOVERY-E-ANALYTICS---Oferta-2-2024-Oct-01_01-32-49-113/viewer/files/Unidade 1/*pdf
DATA-DISCOVERY-E-ANALYTICS---Oferta-2-2024-Oct-01_01-32-49-113/viewer/files/Unidade 2/*pdf
DATA-DISCOVERY-E-ANALYTICS---Oferta-2-2024-Oct-01_01-32-49-113/viewer/files/Unidade 3/*pdf
DATA-DISCOVERY-E-ANALYTICS---Oferta-2-2024-Oct-01_01-32-49-113/viewer/files/Unidade 4/*pdf

.venv

