estatistica_descre/Projeto final
estatistica_descre/links Aulas.txt
estatistica_descre/Estatística Descritiva/Correlação de Pearson.xlsx
estatistica_descre/Estatística Descritiva/Exemplo JP MORGAN VÍDEO.pdf
estatistica_descre/Estatística Descritiva/Introdução a Gráficos Estatísticos - Prof. Thiago Marques.pdf

ciencia_de_dados_python/*.pdf

Tecnicas_amostragem_regressaoLinear/*.pdf

Estatistics_Infer/*.pdf
Estatistics_Infer/Trabalhos/*.pdf

estatistica_descre/Renan_Lemes_leepkaln/Projeto_final/MICRODADOS_ENADE_2017.txt
estatistica_descre/Renan_Lemes_leepkaln.rar

CULTURA-E-PR-TICAS-DATAOPS-E-MLOPS/viewer/files/Slides das Aulas/
CULTURA-E-PR-TICAS-DATAOPS-E-MLOPS/viewer/files/Layout/
CULTURA-E-PR-TICAS-DATAOPS-E-MLOPS/viewer/files/unfiled/
CULTURA-E-PR-TICAS-DATAOPS-E-MLOPS/viewer/files/Mídia carregada/
CULTURA-E-PR-TICAS-DATAOPS-E-MLOPS/viewer/files/arquivos_pratica/DataDrift.ipynb

-IEC_EPCD_O2_T1_Online-S-ries-Temporais-2024-Feb-15_22-27-01-666/viewer/files/*pdf

Modelos-de-Regress/viewer/files/*pdf
Modelos-de-Regress/viewer/files/Trabalhos/TrabalhoFinal/insurance.csv
Modelos-de-Regress/viewer/files/Trabalhos/data/
Modelos-de-Regress/viewer/files/Trabalhos/*csv
Modelos-de-Regress/viewer/files/Trabalhos/*txt


Machine-Learning/viewer/files/*pdf
Machine-Learning/viewer/files/Trabalhos/*csv
Machine-Learning/viewer/files/*csv
Machine-Learning/viewer/files/*pptx
Machine-Learning/viewer/files/Trabalhos/TrabalhoFinal/*csv


## Ignore files da analise multivariada
ANALISE-MULTIVARIADA/viewer/files/TrabalhoFinal/*csv
ANALISE-MULTIVARIADA/viewer/files/unfiled/*csv
ANALISE-MULTIVARIADA/viewer/files/*pdf
ANALISE-MULTIVARIADA/viewer/files/*pptx
ANALISE-MULTIVARIADA/viewer/files/unfiled

Redes-Neurais-e-Deep-Learning/viewer/files/*pdf
Redes-Neurais-e-Deep-Learning/viewer/files/Slides/*
Redes-Neurais-e-Deep-Learning/viewer/files/Questionarios

## ignorar as pastas da Analise e Sobrevivência
Analise_e_Sobre/Aulas
Analise_e_Sobre/data


## ignorar os pdfs 
GOVERNAN-A-DE-DADOS/viewer/files/Mídia carregada/*pdf

S-ries-Temporais/viewer/files/*pdf
S-ries-Temporais/viewer/files/*csv



-IEC_EPCD_O2_T1_Online-Frameworks-para-Deep-Learning-2024-Oct-01_01-37-18-444/viewer/files/*pdf
DATA-DISCOVERY-E-ANALYTICS/viewer/files/*pdf
DATA-DISCOVERY-E-ANALYTICS/viewer/files/imagens/*pdf
DATA-DISCOVERY-E-ANALYTICS/viewer/files/Unidade 1/*pdf
DATA-DISCOVERY-E-ANALYTICS/viewer/files/Unidade 2/*pdf
DATA-DISCOVERY-E-ANALYTICS/viewer/files/Unidade 3/*pdf
DATA-DISCOVERY-E-ANALYTICS/viewer/files/Unidade 4/*pdf

.venv

